<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Golu Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/Public/lib/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Public/lib/w3.css" />
    <script src="/Public/lib/jquery331.js"></script>
</head>
<body>
    
    <div class="w3-sidebar w3-bar-block w3-card w3-round w3-animate-left w3-dark-grey " style="width:15%">
        <h4 class="w3-bar-item" style="margin-top:35%">Menu</h4>
        <img class="w3-bar-item" alt="snow" src="images/img_snowtops.jpg" style="width:100%">
        <a class="w3-bar-item w3-button" href="start.html"> Home </a>
        <div class="w3-display-container">
            <span class="w3-display-topright w3-red w3-round w3-border">8</span>
            <a class="w3-bar-item w3-button" href="#projects">Some apps
            </div>
        </a>
        <a class="w3-bar-item w3-button" href="#about"> About </a>
    </div>





</body>
</html>